.box{
  background-color: #FFFFFF;
  padding: 300px 300px 45px 300px;
  border-radius:20px;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  box-shadow: 3px 3px 3px #7a7777;
}

