.tabHeader {
  background-color: #eceac6;
  height: 64px;
}
.textBar {
  height: 36px;
  width: 200 px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #363636;
  font-weight: bold;
}
.textTODO {
  font-family: "Rubik Vinyl", cursive;
  text-align: center;
  top: 500px;
  font-size: 1000px;
  color: #555555;
  font-weight: bold;
  padding-top: 50px;
}

.box{
  background-color: #FFFFFF;
  width: 50 px;
  height: 600px ;
  padding: 30px 30px;
  border-radius:20px;
  justify-content: center;
}